:root {
  /* CSS HEX */
  --primary: #023e7d;
  --primary-dark: #002855;
  --primary-light: #0353a4;
  --secondary: #e2e3e6;
  --secondary-dark: #b9bcc1;
  --secondary-light: #fafafa;
  --success: #1bc44b;
  --success-dark: #008b38;
  --success-light: #34e065;
  --danger: #ff4d4f;
  --danger-dark: #d9363e;
  --danger-light: #ff7875;
  --warning: #ffec3d;
  --warning-dark: #d4b106;
  --warning-light: #fff566;
  --info: #1890ff;
  --info-dark: #096dd9;
  --info-light: #40a9ff;
  --light: #f0f2f5;
  --dark: #1f1f1f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--secondary) !important;
}

.card {
  margin-bottom: 8px;
}

.add-wrapper.btn.btn-primary {
  background-color: inherit !important;
  border-color: inherit !important;
  color: #6f7782 !important;
  border: none;
}

.add-wrapper.btn.btn-primary:hover {
  background-color: rgba(21, 7, 38, 0.04) !important;
  border-color: rgba(21, 7, 38, 0.04) !important;
  color: #6f7782 !important;
  border: none;
}

.is-empty {
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(232, 236, 238, 0.5),
    rgba(232, 236, 238, 0) 100%
  );
  flex: 1 1 100%;
}

.main-content {
  flex: 1 1 100%;
}

.task-container.card {
  border: 1px rgb(233, 233, 231);
}

.task-container .card-body {
  border-radius: 3px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 2px 4px;
}

.task-container .card-body:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

.login-card {
  width: 40%;
  margin: auto;
  margin-top: 30px;
}
